@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --black: #15161D;
  --white: #ffffff;
  --red: #d10024;
}